body
{
	margin: 0px;
	background: #283c86;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #45a247, #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	
}
/*-----------Header--------*/
header
{
	width: 100%;
	height: 100px;

}
nav
{
	
	width: 70%;
	height: 100%;
	float: right;


}
button
{
	margin-top: 3%;
	margin-left: 15%;
	width: 120px;
	height: 50px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid white;
}
/*-------------------------------*/


/*-----------Main-Section--------*/
section
{
	width: 100%;
	margin-top: 10px;

}

.main-section
{
	width: 90%;
	height: 500px;
	margin-left: 5%;
	background-color:rgba(0,0,0,0.06);  
	
}


/*-----------Second-Section--------*/
.second-section
{
	width: 90%;
	height: 300px;
	margin-bottom: 10px;
	margin-left: 5%;
	background-color:rgba(0,0,0,0.06); 
}


footer
{
	width: 100%;
	height: 60px;
	background-color:rgba(0,0,0,0.06); 
}
